{% extends "master.html" %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Connexion</h1>
        {% if form.non_field_errors %}
            <div class="notification is-danger mt-4">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" class="box">
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    <label class="label">{{ field.label }}</label>
                    <div class="control">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <p class="help is-danger">
                            {% for error in field.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="control">
                <button type="submit" class="button is-success">Se connecter</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
