{% extends 'master.html' %}
{% load i18n %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            <span class="icon mr-2">
                                <i class="mdi mdi-lock-reset"></i>
                            </span>
                            {% trans "reset_password" %}
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="content has-text-centered mb-5">
                            <span class="icon is-large has-text-info">
                                <i class="mdi mdi-48px mdi-key-change"></i>
                            </span>
                            <p class="title is-5 mt-3">{% trans "forgot_password" %}</p>
                            <p class="subtitle is-6 has-text-grey">
                                {% trans "enter_email_for_reset_link" %}
                            </p>
                        </div>

                        <form method="POST" id="resetRequestForm">
                            {% csrf_token %}

                            <div class="field">
                                <label class="label">{% trans "email_address" %}</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="email" name="email" id="emailInput"
                                           placeholder="{% trans 'email_placeholder' %}" required>
                                    <span class="icon is-small is-left">
                                        <i class="mdi mdi-email"></i>
                                    </span>
                                    <span class="icon is-small is-right has-text-success" id="emailIcon" style="display: none;">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field mt-5">
                                <div class="control">
                                    <button type="submit" class="button is-primary is-fullwidth is-medium" id="submitBtn">
                                        <span class="icon">
                                            <i class="mdi mdi-send"></i>
                                        </span>
                                        <span>{% trans "send_reset_link" %}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="has-text-centered mt-5">
                    <p>
                        <a href="{% url 'account:login' %}" class="has-text-grey">
                            <span class="icon is-small">
                                <i class="mdi mdi-arrow-left"></i>
                            </span>
                            {% trans "back_to_login" %}
                        </a>
                    </p>
                    <p class="mt-2">
                        <span class="has-text-grey">{% trans "no_account_yet" %} </span>
                        <a href="{% url 'account:register' %}">{% trans "create_account" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}