{% extends 'master.html' %}
{% load i18n %}

{% block content %}
<section class="section has-background-light">
    <div class="container has-text-centered">
        <span class="icon is-large has-text-primary">
            {% load static %}
            <img src="{% static 'logo/business.png' %}" alt="Logo Family Business" class="logo">
        </span>
        <h1 class="title is-2 mt-4">{% trans "welcome_to" %} <span class="has-text-primary">Family Business</span></h1>
        <p class="subtitle is-5 mb-6">
            {% trans "manage_family_budgets_with_simplicity" %}
        </p>

        <div class="columns is-centered">
            <!-- Always on wallet preview card -->
            <div class="column is-4">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-success">
                        <i class="mdi mdi-wallet mdi-36px"></i>
                    </span>
                    <h2 class="title is-5 mt-2">{% trans "your_wallets" %}</h2>
                    <p>{% trans "create_share_track_family_finances" %}</p>
                    <a href="{% url 'wallet:wallet_list' %}" class="button is-success mt-3">
                        <i class="mdi mdi-arrow-right-bold mr-1"></i> {% trans "access" %}
                    </a>
                </div>
            </div>

            <!-- Display only if admin -->
            {% if user.is_authenticated %}
                {% if user.is_staff or user.role == 'admin' %}
                    <div class="column is-4">
                        <div class="box has-text-centered">
                            <span class="icon is-large has-text-link">
                                <i class="mdi mdi-shield-account mdi-36px"></i>
                            </span>
                            <h2 class="title is-5 mt-2">{% trans "administration" %}</h2>
                            <p>{% trans "manage_users_wallets_system_settings" %}</p>
                            <a href="{% url 'adminpanel:admin_panel' %}" class="button is-link mt-3">
                                <i class="mdi mdi-arrow-right-bold mr-1"></i> {% trans "access" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}